# template:
# - model: path to model

# when run with
#   template/-template "model: path/to/model" path/to/this/file.yml
# the {model} will be replaced by path/to/model

main:
  module: train # run training task
  option:
    - --max-loaders 2 # use 2 workers to load dataset
    - --max-trainers 3 # use 3 workers to train

dataset:
  - module: bbWW.dvtt.TrainData # use the baseline dataset for FvT training
    option:
      - --no-SR # remove SR
      - --data-source detector # loads data
      - --metadata bbreww/metadata/classifier/datasets_data_v4 # choose dataset
      - --max-workers 8 # use 8 workers to load ROOT files
      - --friends "" bbreww/metadata/classifier/data_friend.json@@classifier_input # set input friend tree

  - module: bbWW.dvtt.TrainBaseline # this module loads all backgrounds if mc_processes is not specified
    option:
      - --metadata bbreww/metadata/classifier/datasets_v4
      - --mc-processes ttbar
      - --max-workers 8 # use 8 workers to load ROOT files
      - --friends "" bbreww/metadata/classifier/output_friend.json@@classifier_input # set input friend tree

model:
  - module: bbWW.HCR.baseline_dvtt.Train # use the baseline bbWW HCR model
    option:
      - --kfolds 3 # use 3-fold
      - --kfold-seed FvT random # setup base seed to be ("FvT", "random")
      - --kfold-seed-offsets 0 # use seed ("FvT", "random", 0)
      # --kfold-seed-offsets 0-14 will use seed ("FvT", "random", 0), ... ("FvT", "random", 14) to train 15 models
      - --training FixedStep # setup training schedule
      # FixedStep is defined in config/scheduler
      - epoch: 20 # setup kwargs for FixedStep
        bs_init: 1024 # equivalent to use FixedStep(epoch=20, bs_init=1024)

setting:
  - module: IO # setup output directory
    option:
      - output: "{model}" # will be replaced by the template
