# template:
# - model: path to model
# - FvT: path to friend tree

main:
  module: evaluate
  option:
    - --max-evaluators 8 # use 8 workers to evaluate

dataset:
  - module: bbWW.svb.Eval
    option:
      - --metadata bbreww/metadata/classifier/datasets_v4
      - --max-workers 4 # use 8 workers to fetch metadatas for ROOT files
      - --mc-processes GluGluToHHTo2B2VLNu2J ttbar 
      - --friends "" bbreww/metadata/classifier/output_friend.json@@classifier_input
  - module: bbWW.svb.Eval
    option:
      - --metadata bbreww/metadata/classifier/datasets_minor_bkgs_v4
      - --max-workers 4 # use 8 workers to fetch metadatas for ROOT files
      - --mc-processes WplusJets tW
      - --friends "" bbreww/metadata/classifier/minorbkg_friend.json@@classifier_input

model:
  - module: bbWW.HCR.baseline_svb.Eval
    option:
      - --models
      - Final # choose name of the model to evaluate, for now only Final is available
      - "{model}/result.json" # setup the path to the training result

analysis:
  - module: kfold.Merge # merge different k-folds
    option:
      - --name svb # set the name of friend tree
      - --step 1000000 # set the step to read ROOT files
      - --workers 8
      - --clean # remove the original files

setting:
  - module: IO
    option:
      - output: "{SvB}"
  - module: ml.DataLoader
    option:
      - num_workers: 6
